.css-container {
  background-color: var(--primaryBG-00);
  color: var(--primary-00);
}

.css-container .btn-info { background-color: var(--info); }
.css-container .btn-error { background-color: var(--error); }
.css-container .btn-warn { background-color: var(--warn); }
.css-container .btn-success { background-color: var(--success); } 
.css-container .btn-custom { 
  background-color: var(--primary-00); 
  color: var(--secondary-00);
} 

.css-container .theme-references .color-references span { border-color: var(--primary-00); }