/**
  Colors

  Obs: Mostly of the color variables names are from aproximates names.
  Reference: https://www.htmlcsscolor.com
  
**/
:root {
  --black: #000000;
  --charcoal: #444444;
  --cornflowerBlue: #49A6FB;
  --darkGoldenrod: #BF9000;
  --freeSpeechRed: #CC0000;
  --lime: #00FF00;
  --persianIndigo: #351C75;
  --umber: #FFC000;
  --white: #FFFFFF;
  --whiteSmoke: #F3F3F3;

  --error: var(--freeSpeechRed);
  --warn: var(--darkGoldenrod);
  --info: var(--persianIndigo);
  --success: var(--lime);
}

:root.main {
  --primary-00: var(--black);
  --secondary-00: var(--whiteSmoke);
  
  --primaryBG-00: var(--whiteSmoke);
}

:root.dark {
  --primary-00: var(--white);
  --secondary-00: var(--black);
  
  --primaryBG-00: var(--black);
}

:root.summer {
  --primary-00: var(--white);
  --secondary-00: var(--umber);
  
  --primaryBG-00: var(--umber);

  --info: var(--cornflowerBlue);
}

:root.winter {
  --primary-00: var(--white);
  --secondary-00: var(--cornflowerBlue);
  
  --primaryBG-00: var(--cornflowerBlue);

  --warn: var(--umber);
}