.App {
  display: grid;
  grid-template-rows: auto 500px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "header header header" 
    "styled css styled-css";
}

.App-header { grid-area: header; }
.styled-conainer { grid-area: styled; }
.css-container, .styled-csscontainer { grid-area: css; }

.App-header {
  display: flex; justify-content: center;
  padding: 20px;
}

.container {
  text-align: center;
  padding: 20px;
  height: 500px !important;
}

.theme-references .color-references span {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  position: absolute;
  border: 1px solid;
}

button {
  border-radius: 5px;
  cursor: pointer;
}

select {
  margin-bottom: 20px;
}
